.header {
    position: relative;
    width:100%;
    height:20rem;
    margin-top:20px;
    position: relative;
    border:3px solid rgba(94, 138, 86, 0.363);
}

/* 메뉴바 */
.navbar {
    position: absolute;
    display: block;  
    right:10px;
    top: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex; /* 메뉴 리스트에 Flexbox 적용 */
}

.navbar li {
    margin-left: 20px; /* 메뉴 간격 조절 */
}

.navbar a {
    text-decoration: none;
    color: black; /* 링크 색상 지정 */
}

.nexttosearch {
    position: absolute;
    top: 10rem; /* 검색 상자 위에서부터의 거리 조절 */
    right: 10rem; /* 검색 상자에서 오른쪽으로의 거리 조절 */
    font-size: 25px;
}

i.fa-magnifying-glass {
    margin-right: 5px;
}

/* 검색창 */
.search-container {
    position: relative; /* 검색 상자를 relative로 설정하여 아이콘이 이 상자 내에 포함될 수 있도록 합니다. */
    width: 500px;
    margin: 0 auto;
    margin-top: 4rem;
}

.search-input {
width: 100%;
padding: 10px 40px 10px 20px; /* 오른쪽 여백으로 아이콘을 넣을 공간 확보 */
border: 2px solid #ccc;
border-radius: 20px;
outline: none;
}

.search-input:focus {
border-color: #048a0465;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #888;
}

/* 오토앨범 */
.autoalbum {
    position: relative;
    margin-top: 7rem;
    width: 800px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 30px;
    overflow:hidden;
}

.autoalbum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#como {
    position: absolute;
    margin-top: 40rem;
    left:40rem;
}

#WELCOMETEXT {
    display: block;
    margin:auto;
}

/* 오토앨범-메인 */
#main {
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: 30px;
}

/* 오토앨범-썸네일 */
.thumbnails {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 1; /* 다른 요소보다 위에 위치하도록 설정 */
}

.photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* 아웃라인 */
.active { 
outline: 2px solid gray;
border-radius: 10px;
z-index:1;
}

.grid-container {
     position: relative;
     display: grid;
     grid-template-columns: repeat(3, 1fr); /* 3개의 열을 만듭니다. */
     gap: 10px; /* 이미지 사이의 간격 설정 */
     padding-top: 5rem;
     padding-bottom:7rem;
     align-items: center;
}

.grid-item {
    border: 1px solid #ccc; /* 이미지 아래 테두리 설정 */
    border-radius: 50px;
    padding: 5px;
    display: flex; /* 추가: 내부 내용을 수직/수평 중앙으로 정렬하기 위해 사용 */
    justify-content: center; /* 추가: 수평 중앙 정렬 */
    align-items: center; /* 추가: 수직 중앙 정렬 */
    flex-direction: column;
    
}

.grid-item img {
    width: 40%; /* 이미지를 부모 요소에 맞게 확대 또는 축소 */
    height: auto; /* 이미지의 가로 세로 비율을 유지 */
}

.buyandcartbuttons {
     display: flex;
     justify-content: space-between; /* 버튼을 동일한 간격으로 배치하기 위해 */
     margin-top: 5px; /* 버튼과 이미지 사이의 간격 조절 */
}

.buy-button,
.cart-button {
    padding: 5px 10px;
     background-color: rgba(137, 226, 65, 0.356);
     color: green;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     margin:5px;
}

.buy-button:hover,
.cart-button:hover {
     background-color: rgba(85, 167, 18, 0.541);
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: 3px solid grey;
    background-color: #00912b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-button:hover {
    background-color: #005c1c;
}

.price {
    color:rgb(63, 63, 63);
    text-shadow: 0 0 .1em, 0 0 .3em;
}

/* 로고 */
.logo {
    display: flex;
    justify-content: center;
    margin-top:6rem;
}

.neonlogo {
    animation: neonlogo 1s ease infinite;
    -moz-animation: neonlogo 1s ease infinite;
    -webkit-animation: neonlogo 1s ease infinite;
  }

.neonlogo-olive {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: neonlogo;
    color: #2ba752;
    font-size: 5rem;
    line-height: 3vw;
    text-shadow: 0 0 3vw #207447;
    animation: neonlogo-olive 2s linear infinite;
    -moz-animation: neonlogo-olive 2s linear infinite;
    -webkit-animation: neonlogo-olive 2s linear infinite;
    -o-animation: neonlogo-olive 2s linear infinite;
}

.neonlogo-young {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-left:10rem;
    font-family: neonlogo;
    color: #2c49a9;
    font-size: 5rem;
    line-height: 4vw;
    text-shadow: 0 0 3vw #142e84;
    animation: neonlogo-young 2s linear infinite;
    -moz-animation: neonlogo-young 2s linear infinite;
    -webkit-animation: neonlogo-young 2s linear infinite;
    -o-animation: neonlogo-young 2s linear infinite;
}

@font-face {
    font-family: neonlogo;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }

  @keyframes neonlogo-olive {
    0%,
    100% {
      text-shadow: 0 0 1vw #309818, 0 0 3vw #309818, 0 0 10vw #309818, 0 0 10vw #309818, 0 0 .4vw #17aa1e, .5vw .5vw .1vw #229213;
      color: #6cfe28;
    }
    50% {
      text-shadow: 0 0 .5vw #25ff5c, 0 0 1.5vw #25ff5c, 0 0 5vw #25ff5c, 0 0 5vw #25ff5c, 0 0 .2vw #25ff5c, .5vw .5vw .1vw #0e400a;
      color: #148070;
    }
  }

  
  @keyframes neonlogo-young {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #80808060; /* 원하는 배경색 */
    padding: 33px 0; /* 원하는 패딩값 */
    z-index: 2;
}