.container {
    position: relative;
    height:50rem;
    width:auto;
    border:1px dashed;
}

.flex {
    display: flex;
    flex-direction: row;
}

#logo {
    margin-top:40px;
    text-align: start; /* 부모 요소를 가운데 정렬 */
}

#logo img {
    display: inline-block; /* 이미지를 인라인 블록으로 설정 */
}

#navbar {
    border: 1px solid red;
    justify-content: space-around;
    right:0;
}

#search {
    border:1px solid blue;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}